:root {
  --main-title-color: #2E2F42;
  --second-title-color: #434455;
  --background-title-color: #FFFF;
  --footer-title-color: #2E2F42;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

body {
  font-family: 'Roboto';
  font-style: normal;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.header-cantainer {
  display: flex;
}

.header-main {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  margin-right: 76px;
  color: #4D5AE5;
}

.header-logosec {
  color: #2E2F42;
}

.header-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #2E2F42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header-mail {
  display: flex;
}

.header-text:hover {
  color: #404BBF
}

.header-text:focus {
  color: #404BBF
}

.header-address {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.header-list {
  gap: 40px;
  display: flex;

}

.header-link {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #2E2F42
}

.header-mail {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-mail:hover {
  color: #404BBF
}

.header-mail:focus {
  color: #404BBF
}


.header-phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #434455;
}

.heade-phone:hover {
  color: #404BBF
}

.header-phone:focus {
  color: #404BBF
}

.header-mail {

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero {
background-color: var(--background-color-text);
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
  background-position: center;
  background-repeat:no-repeat;
      background-size: cover;
  max-width: 1440px;
  height: 600px;
  background-size: cover;
  background-color: #2E2F42;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
      margin-left: auto;
        margin-right: auto;
}



.hero-section {
  width: 1158px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.hero-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  background-color: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Roboto';
  border: none;
  border-radius: 4px;

}

.hero-btn:hover {
  background-color: #404BBF
}

.hero-btn:focus {
  background-color: #404BBF
}


.section {
  padding: 120px, 0px;
}

.section-title {
  
}

.section-images{
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
}
.section-list {
  display: flex;
  gap: 24px;
}

.section-item {}

.section-div{
  width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F4FD;
      border-radius: 4px;
      margin-bottom: 8px;
}


.first-icons{
  height: 64px;
  width: 64px;
 display: flex;
 justify-content: center;
 align-items: center;
}
{
  
}

.section-subtitle {

  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  color: var(--main-title-color) flex: none;
  order: 0;
  flex-grow: 0;
}
.section-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: var(--second-title-color) flex: none;
  order: 1;
  flex-grow: 0;
}
.gallery-one{
  display: block;
}
.gallery {
  padding-bottom: 120px;
}

.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}

.gallery-list {
  margin-top: 72px;
  display: flex;
  gap: 24px;
}

.list {}

.gallery-item {
  padding: 360px, 300px;
}

.team {
  background: #F4F4FD;
  padding: 120px 0px;

}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);

}

.team-list {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-soc-item {}


.team-soc-item:first-child {
  margin-left: 16px;
}

.team-soc-item:last-child {
  margin-right: 16px;
}

.team-soc-item {
  margin-top: 8px;


}

.team-soc-link {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4D5AE5;
  border-radius: 50%;
  width: 40px;
  height: 40px;

}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404BBF;
}

.team-soc-link:hover,
.team-soc-link,
.team-soc-link:focus,
.team-soc-link {
  fill: #404BBF;
}

.team-soc-svg {
  width: 20px;
  height: 20px;
  fill: #f4f4fd
}


.team-item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  ;
  border-radius: 0px 0px 4px 4px;

}


.aboutus-text {}

.team-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.20;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color)
}

.team-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.20;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.image {
  display: block;
}

.img {
  padding-top: 32px;
  padding-bottom: 32px;

}

.customers {
  padding: 120px 0px;
}

.customers-main {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers-list {
      width: calc((100% - 120px) / 6);
        height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 24px;
}

.customers-link {
      width: calc((100% - 120px) / 6);
        height: 88px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  color: #8E8F99;

}

.customers-svg {
  width: 168px;
  height: 88px;
  border-radius: 4px;
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
color: #404BBF;
}

.customers-link:hover,
.customers-link,
.customers-link:focus,
.customers-link {
  fill: #404BBF;

}

.customers-link {
  fill: #8E8F99;
}

.footer-media{
  width: 264px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    
}
.footer {
  background: var(--footer-title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-div{
  align-items: baseline;
  display: flex;
  
}
.footer-one{
  
}
.footer-two{

gap: 120px;
  margin-left: 120px;
  align-items: baseline;
  justify-content: center;
}

.footer-logo {

  text-align: center;
  margin-top: 10px;
  margin-bottom: 17px;
  font-family: 'Raleway';
  min-width: 115px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #4D5AE5;
}

.footer-logosec {

  color: #F4F4FD;

}
.footer-item{
  display: flex;
  gap: 16px;
}


.footer-desc {
  margin-top: 16px;
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #E7E9FC;
}

.footer-team {
  display: flex;
  align-items: center;
  gap: 24px;
 
}
.footer-soc {
  display: flex;
justify-content: center;
  align-items: center;
  background-color: #4D5AE5;
  border-radius: 50%;
  width: 40px;
  height: 40px;}

.footer-list {

}

.footer-soc:hover,
.footer-soc:focus {
  background-color: #31D0AA;
}

.footer-soc:hover, .footer-soc,
.footer-soc:focus, .footer-soc {
  fill: #31D0AA;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #f4f4fd

}


.portfolio {
  padding-top: 24px;
  padding-bottom: 24px;
background: #FFFFFF;
  border-bottom: 1px solid #E7E9FC;
}

.portfolio-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  margin-right: 76px;
  color: #4D5AE5;
}

.portfolio-logosec {

  color: #2E2F42;

}

.portfolio-navigator {
  display: flex;
  align-items: center;
}


.portfolio-list {
  display: flex;
  gap: 40px;

}

.portfolio-item {}

.portfolio-link {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.portfolio-link:hover {
  color: #404BBF
}

.portfolio-link:focus {
  color: #404BBF
}

.address {
  display: flex;
  margin-left: auto;
}

.address-list {
  font-style: normal;
  display: flex;
  gap: 40px;

}

.address-item {
  display: flex;


}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover {
  color: #404BBF;
}

.address-link:focus {
  color: #404BBF;
}

.push {
  padding-top: 96px;
  padding-bottom: 120px;
}

.push-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}


.push-item {}

.push-button {
  padding: 12px 24px;
background: #F4F4FD;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4D5AE5;
  cursor: pointer;
  font-family: 'Roboto'
}

.push-button:hover {
  background-color: #404BBF;
  color: #FFFFFF;
  border: 1px solid #404BBF;
  box-shadow:0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.push-button:focus {
  background-color: #404BBF;
  border: 1px solid #404BBF;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

.portimg{
border-top: none;
  padding: 32px 16px;
  border: 1px solid#e7e9fc;
}
.portimage{
  display: block;
}
.icons {}
.icons-item{
  flex-basis: calc((100% - 48px) / 3);
}

.icons-icon{
  display: block;
}
.icons-list {
display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 9 - 24px);
  padding-bottom: 120px;
  column-gap: 24px;
  row-gap: 48px;
}
.icons-icon:hover,
.icons-icon:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.icons-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  color: var(--main-title-color)
}

.icons-decs {
  text-align: left;
    margin-top: 8px;
  color: var(--second-title-color)
}

.footersec {
  background: var(--footer-title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footersec-logo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 17px;
  font-family: 'Raleway';
  min-width: 115px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #4D5AE5;

}

.footersec-logosec {
  color: #F4F4FD;
}

.footersec-desc {
  margin-top: 16px;
  width: 264px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5px;
  color: #E7E9FC;
}