:root {
  --main-title-color: #2E2F42;
  --second-title-color: #434455;
  --background-title-color: #FFFF;
  --footer-title-color: #2E2F42;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

body {
  font-family: 'Roboto';
  font-style: normal;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-cantainer {
  display: flex;
}

.header-main {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  margin-right: 76px;
  color: #4D5AE5;
}

.header-logosec {
  color: #2E2F42;
}

.header-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #2E2F42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header-mail {
  display: flex;
}

.header-text:hover {
  color: #404BBF
}

.header-text:focus {
  color: #404BBF
}

.header-address {
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.header-list {
  gap: 40px;
  display: flex;

}

.header-link {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #2E2F42
}

.header-mail {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-mail:hover {
  color: #404BBF
}

.header-mail:focus {
  color: #404BBF
}


.header-phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #434455;
}

.heade-phone:hover {
  color: #404BBF
}

.header-phone:focus {
  color: #404BBF
}

.header-mail {

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero {
  background-color: #2E2F42;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {}

.hero-section {
  width: 1158px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.hero-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  background-color: #4D5AE5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Roboto';
  border: none;
  border-radius: 4px;

}

.hero-btn:hover {
  background-color: #404BBF
}

.hero-btn:focus {
  background-color: #404BBF
}


.section {
  padding: 120px, 0px;
}

.section-title {}

.section-list {
  display: flex;
  gap: 24px;
}

.section-item {}

.section-subtitle {

  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  color: var(--main-title-color) flex: none;
  order: 0;
  flex-grow: 0;
}

.section-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: var(--second-title-color) flex: none;
  order: 1;
  flex-grow: 0;
}
.gallery-one{
  display: block;
}
.gallery {
  padding-bottom: 120px;
}

.gallery-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}

.gallery-list {
  margin-top: 72px;
  display: flex;
  gap: 24px;
}

.list {}

.gallery-item {
  padding: 360px, 300px;
}

.team {
  background: #F4F4FD;
  padding: 120px 0px;

}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color)
}

.team-list {
  display: flex;
  gap: 24px;

}

.team-item {
  background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}


.aboutus-text {}

.team-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.20;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color)
}

.team-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.20;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.image {
  display: block;
}

.img {
  padding-top: 32px;
  padding-bottom: 32px;

}

.footer {
  background: var(--footer-title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 17px;
  font-family: 'Raleway';
  min-width: 115px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #4D5AE5;
}

.footer-logosec {

  color: #F4F4FD;

}

.footer-desc {
  margin-top: 16px;
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #E7E9FC;
}






.portfolio {
  padding-top: 24px;
  padding-bottom: 24px;
background: #FFFFFF;
  border-bottom: 1px solid #E7E9FC;
}

.portfolio-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  margin-right: 76px;
  color: #4D5AE5;
}

.portfolio-logosec {

  color: #2E2F42;

}

.portfolio-navigator {
  display: flex;
  align-items: center;
}


.portfolio-list {
  display: flex;
  gap: 40px;

}

.portfolio-item {}

.portfolio-link {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.portfolio-link:hover {
  color: #404BBF
}

.portfolio-link:focus {
  color: #404BBF
}

.address {
  display: flex;
  margin-left: auto;
}

.address-list {
  font-style: normal;
  display: flex;
  gap: 40px;

}

.address-item {
  display: flex;


}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover {
  color: #404BBF;
}

.address-link:focus {
  color: #404BBF;
}

.push {
  padding-top: 96px;
  padding-bottom: 120px;
}

.push-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.push-list:first-child {}

.push-item {}

.push-button {
  padding: 12px 24px;
background: #F4F4FD;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4D5AE5;
  cursor: pointer;
  font-family: 'Roboto'
}

.push-button:hover {
  background-color: #404BBF;
  color: #FFFFFF;
}

.push-button:focus {
  background-color: #404BBF;
  color: #FFFFFF;

}
.portimg{
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
border: 1px solid #E7E9FC;
border-top: 0;
}
.portimage{
  display: block;
}
.icons {}

.icons-hidden {}

.icons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  
}
.icons-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.20;
  letter-spacing: 0.02em;
  color: var(--main-title-color)
}

.icons-decs {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.02em;
  color: var(--second-title-color)
}

.footersec {
  background: var(--footer-title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footersec-logo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 17px;
  font-family: 'Raleway';
  min-width: 115px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #4D5AE5;

}

.footersec-logosec {
  color: #F4F4FD;
}

.footersec-desc {
  margin-top: 16px;
  width: 264px;
  height: 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5px;
  color: #E7E9FC;
}